@model TRC_Mobile.Models.MessageModel

@{
    ViewBag.Title = @Model.Title + " | TRC Mobile";
}

@section headcustommeta {
     
    <meta property="og:site_name"         content="trcmobile.apphb.com" />
    <meta property="og:title"             content="@Model.Title" />
    <meta property="og:description"       content="@Model.Description" />
    <meta property="og:image"             content="@Model.ThumbnailURL" /> 
    
    <meta property="og:audio"             content="@Model.MediaURL" />
    <meta property="og:audio:title"       content="Audio: @Model.Title" />
    <meta property="og:audio:artist"    content="TRC Bangor" />
    <meta property="og:audio:album"     content="Weekly Messages" />
    <meta property="og:audio:type" content="application/mp3" /> 
    
}

@section Header {
    @Html.ActionLink("Back", "Series", "Home", new { id = ViewData["SerId"] }, new { data_icon = "back", data_rel = "back" })
    @Html.ActionLink("Home", "Index", "Home", null, new { data_icon = "home" })
    <h1>@Model.Title | TRC Mobile</h1>
}

@section Footer {
    <a href="@HttpUtility.HtmlAttributeEncode("http://facebook.com/sharer.php?u=" + "http://trcmobile.apphb.com" + @Request.RawUrl)" target="_blank" >Share <img src="~/Content/images/small_facebook_icon.png" /></a>
}


<div>
    <h2>@Model.Title</h2>
    <p>
        <strong>@Model.PublishedDate[2] @Model.PublishedDate[1] @Model.PublishedDate[3]</strong>
    </p>

    @*<ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Speakers</li>
        @foreach (var speaker in Model.Speakers) {
            <li>@Html.ActionLink(speaker, "SessionsBySpeaker", new { speaker })</li>
        }
    </ul>*@

    <p>
        <img style="float:left; width:150px; padding:3px;" src="@Model.ThumbnailURL" />
        @System.Web.HttpUtility.HtmlDecode(Model.Description)
    </p>

    <audio controls="controls"><source src="@Model.MediaURL" /></audio><br />
    <a href="@Model.MediaURL" target="_blank" data-role="button" data-icon="info" data-inline="true" data-mini="true">Download MP3</a>

</div>
