<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
        @RenderSection("headcustommeta", false)

        <!-- SHORTCUT ICONS (based on device) -->
        <!-- Desktop Browser -->
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <!-- iPhone Low-Res --> 
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/Content/images/trcmobile-57.png" /> 
        <!-- iPad Low-Res -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/images/trcmobile-72.png" />
        <!-- iPhone Hi-Res --> 
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/images/trcmobile-114.png" /> 
        <!-- iPad Hi-Res --> 
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/images/trcmobile-144.png" />
        <!-- Android (ALL) --> 
        <link rel="apple-touch-icon-precomposed" sizes="android-only" href="~/Content/images/trcmobile-57.png" /> 
        <!-- default --> 
        <link rel="apple-touch-icon-precomposed" href="~/Content/images/trcmobile-57.png" />


        @Styles.Render("~/Content/mobileCss", "~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div data-role="page" data-theme="a">
            <div data-role="header" data-backbtn="true">
                @if (IsSectionDefined("Header")) {
                    @RenderSection("Header")
                } else {
                    <h1>@ViewBag.Title</h1>
                    @*@Html.Partial("_LoginPartial")*@
                }
            </div>
            <div data-role="content">
                @if (IsSectionDefined("ContentTop")) { @RenderSection("ContentTop", false) }
                @RenderBody()
            </div>
            <div data-role="footer" class="ui-bar">
                @if (IsSectionDefined("Footer")) {
                        @RenderSection("Footer")
                } else {
                    <!-- default Footer -->
                        @Html.ActionLink("About", "About", "Home", null, new { data_icon = "info", data_role = "button" })
                        @Html.ActionLink("Contact", "Contact", "Home", null, new { data_icon = "grid", data_role = "button" })
                }
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery", "~/bundles/jquerymobile")
        @RenderSection("scripts", required: false)
    </body>
</html>
